<footer class="dark-mode text-center px-2">
  <section class="bold py-1 py-md-0 mt-2 mb-2 mx-auto container-thin footer-nav">
    <a href="{{ site.baseurl }}/">Home</a>
    <a href="{{ site.baseurl }}/submit">Submit</a>
    <a href="{{ site.baseurl }}/app">App</a>
    <a href="https://instagram.com/{{ site.social_username }}">Instagram</a>
    <a href="{{ site.baseurl }}/info">Info</a>
    <a href="{{ site.baseurl }}/blog">Blog</a>
  </section>
  <section class="py-3 border-top">
    <p class="mb-0 grey-dark f6">Geometry Club is a curation of precisely aligned architecture photographs from around the world. Follow <a href="https://instagram.com/{{ site.social_username }}">@geometryclub</a> on Instagram and join the community.</p>
  </section>
  
</footer>
