<!-- Renders post date, title, and snippet of text. -->
<section class="mb-4">
  <a class="header-background block mb-2 link-image" href="{{ page.url | prepend: site.baseurl }}">
    {% if page.hero-image-src %}
      {% cloudinary {{ page.hero-image-src }} alt="{{ page.hero-image-alt }}" %}
    {% endif %}
  </a>
  <p class="f7 uppercase bold ls-wide right sm-width-full mb-0">{{ page.date | date: "%b %-d, %Y" }}</p>
  <h2 class="f3 lh-condensed col-9 mt-0">
    <a class="link" title="{{ post.url | prepend: site.baseurl }}" href="{{ page.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </h2>
  <p class="f6 col-9 sm-width-full">{{ page.content | strip_html | truncatewords:30 }}</p>
</section>
