<section class="pb-4 mb-4 border-bottom">
  <a class="header-background block mb-3 link-image" href="{{ post.url | prepend: site.baseurl }}">
    {% if post.hero-image-src %}
      {% cloudinary {{ post.hero-image-src }} alt="{{ post.hero-image-alt }}" %}
    {% endif %}
  </a>
  <p class="f7 uppercase bold ls-wide text-center sm-width-full">{{ post.date | date_to_long_string: "ordinal" }}</p>
  <h2 class="f3 lh-12 mx-auto text-center mb-2">
    <a class="link" title="{{ post.url | prepend: site.baseurl }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </h2>
   <p class="f6 col-9 mx-auto text-center md-width-full mb-2">{% if post.caption %}{{ post.caption }}{% else %}{{ post.content | strip_html | truncatewords:24 }}{% endif %}</p>
  <div class="flex">
    <a class="border-radius f6 lh-10 standard-button mw-8 mx-auto text-center bold" href="{{ post.url | prepend: site.baseurl }}">View post</a>
  </div>
</section>
