<ul class="flex flex-column flex-row-md justify-center mx-auto">
  <li class="inline-flex mb-2 mb-md-0 ml-md-2 mr-md-2">
    {% include button.html class="standard-button mw-12 standard-button-outline" url="https://drive.google.com/drive/folders/0B2jQpxenrlLbT19sVEpVSkU4REE?usp=sharing" anchor="Google Drive Folder" %}
  </li>
  <li class="inline-flex ml-md-2 mr-md-2">
    {% include button.html class="standard-button mw-12 standard-button-solid" 
    url="/geometryclub/assets/press-kit/Geometry-Club-Press-Kit.zip" anchor="Download Zip File" %}
  </li>
</ul>