<nav class="dark-mode" id="flexmenu">
  <div>
    <a href="{{ site.baseurl }}/">{% include logo.html class="header-logo block" %}</a>
  </div>

  <div id="mobile-toggle" class="button"></div>
  <ul id="main-menu" class="nav">
    <li><a href="{{ site.baseurl }}/submit/">Submit</a></li>
    <li><a href="{{ site.baseurl }}/app/">App</a></li>
    <li><a rel="nofollow" href="https://instagram.com/geometryclub">Instagram</a></li>
    <li><a href="{{ site.baseurl }}/info/">Info</a></li>
    <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
    <li><a href="{{ site.baseurl }}/prints/">Prints</a></li>
  </ul>
</nav>
