#flexmenu {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding: $spacer * 3;
}

/* General Menu Styling */
#flexmenu li,
#flexmenu li a {
	line-height: 1;
	display: inline-block;
	transition: all ease-in-out .3s;
}

#flexmenu ul li a {
	padding: $spacer * 2;
	font-weight: 600;
}

@media screen and (max-width: $breakpoint-lg) {

	/* Hamburger */
	.button {
		cursor: pointer;
		padding: $spacer;
	}

	.button:after {
		display: block;
		height: 6px;
		width: 24px;
		border-top: 2px solid $white;
		border-bottom: 2px solid $white;
		content: '';
	}

	.button:before {
		transition: all .3s ease;
		display: block;
		height: 2px;
		width: 24px;
		background: $white;
		margin-bottom: 6px;
		content: '';
	}

	/* Turn it into an X when open */
	.button.menu-opened {
		padding: $spacer * 2 $spacer;
	}

	.button.menu-opened:after {
		transition: all .3s ease;
		border: 0;
		height: 2px;
		width: 23px;
		background: $white;
		transform: rotate(45deg);
	}

	.button.menu-opened:before {
		width: 23px;
		margin-bottom: -1px;
		transform: rotate(-45deg);
	}

	#main-menu {
		width: 100%;
		margin-top: $spacer * 2;
	}

	/* reset horizontal styles */
	#flexmenu ul {
		display: none;
	}

	#flexmenu ul li,
	#flexmenu ul li a {
		width: 100%;
	}

	#flexmenu ul li a {
		padding: $spacer * 2 $spacer;
	}
}