@import url("https://fonts.googleapis.com/css?family=Merriweather:400,900");
@font-face {
  font-family: Graphik;
  font-weight: normal;
  font-style: normal;
  src: url("/assets/fonts/Graphik-Regular-Web.eot");
  src: url("/assets/fonts/Graphik-Regular-Web.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Graphik-Regular-Web.woff") format("woff"), url("/assets/fonts/Graphik-Regular-Web.ttf") format("truetype"), url("/assets/fonts/Graphik-Regular-Web.svg#Graphik") format("svg"); }
@font-face {
  font-family: Graphik;
  font-weight: normal;
  font-style: italic;
  src: url("/assets/fonts/Graphik-RegularItalic-Web.eot");
  src: url("/assets/fonts/Graphik-RegularItalic-Web.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Graphik-RegularItalic-Web.woff") format("woff"), url("/assets/fonts/Graphik-RegularItalic-Web.ttf") format("truetype"), url("/assets/fonts/Graphik-RegularItalic-Web.svg#Graphik") format("svg"); }
@font-face {
  font-family: Graphik;
  font-weight: 600;
  font-style: normal;
  src: url("/assets/fonts/Graphik-Semibold-Web.eot");
  src: url("/assets/fonts/Graphik-Semibold-Web.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Graphik-Semibold-Web.woff") format("woff"), url("/assets/fonts/Graphik-Semibold-Web.ttf") format("truetype"), url("/assets/fonts/Graphik-Semibold-Web.svg#Graphik") format("svg"); }
@font-face {
  font-family: Graphik;
  font-weight: 600;
  font-style: italic;
  src: url("/assets/fonts/Graphik-SemiboldItalic-Web.eot");
  src: url("/assets/fonts/Graphik-SemiboldItalic-Web.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Graphik-SemiboldItalic-Web.woff") format("woff"), url("/assets/fonts/Graphik-SemiboldItalic-Web.ttf") format("truetype"), url("/assets/fonts/Graphik-SemiboldItalic-Web.svg#Graphik") format("svg"); }
/**
  * Reset some basic elements
*/
* {
  box-sizing: border-box !important;
  margin: 0; }

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
  * Basic styling
*/
body {
  font-family: "Graphik", "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
  color: #111;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p {
  font-family: "Graphik", "Helvetica Neue", Arial, sans-serif;
  margin-top: 0; }

b {
  font-weight: 600; }

i, em {
  font-style: italic; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  letter-spacing: -1px;
  /* margin-top: 1em;
  margin-bottom: 0.25em; */ }

a {
  color: inherit;
  text-decoration: none; }

/* a:hover {
  text-decoration: underline;
} */
img {
  width: 100%;
  height: auto;
  display: inherit; }

::-moz-selection {
  background: #666;
  color: #fff; }

::selection {
  background: #666;
  color: #fff; }

.blog-image img {
  margin-bottom: 16px; }
.blog-image figcaption p {
  margin-bottom: 0;
  font-size: 14px; }

.blog-image figcaption {
  font-size: 14px;
  text-align: right;
  color: #666; }

.standard-button {
  padding: 16px;
  border: 1px solid #111;
  text-align: center;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out; }
  .standard-button:hover {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    box-shadow: 0 1px 4px 0 rgba(17, 17, 17, 0.25); }

.standard-button-outline {
  background: transparent; }

.standard-button-solid {
  background: #111;
  color: #fff; }

.app-vid {
  position: relative;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  min-height: 400px;
  height: 100%; }
  .app-vid:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(180, 180, 180, 0.75);
    z-index: 2; }
  @media (min-width: 35em) {
    .app-vid {
      max-height: 600px;
      min-height: 600px; } }

video, .ie8-poster {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
  max-width: 100%; }

.app-link-position {
  width: 220px;
  margin-top: 140px; }
  @media (min-width: 35em) {
    .app-link-position {
      margin-top: 240px; } }

.app-store-button {
  width: 220px;
  background-image: -webkit-linear-gradient(top, #333333 0%, #111111 100%);
  background-image: linear-gradient(-180deg, #333333 0%, #111111 100%);
  box-shadow: 0 1px 4px 0 rgba(17, 17, 17, 0.25);
  display: block;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  background-color: #111; }
  .app-store-button:hover {
    box-shadow: 0 2px 8px 0 rgba(17, 17, 17, 0.5);
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px); }

.app-store {
  width: 100%;
  max-width: 160px;
  padding: 8px 0 12px; }

.arrow {
  margin: 0 auto;
  top: -24px;
  position: relative;
  max-width: 24px; }

.submit-form {
  background-color: #f1f1f1;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out; }
  .submit-form:hover {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05); }

.guidelines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 35em) {
    .guidelines {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.guideline-box {
  border: 1px solid #111;
  border-radius: 4px;
  margin-bottom: 32px; }
  @media (min-width: 35em) {
    .guideline-box {
      width: 48%; } }

.guide-container {
  position: relative;
  padding-bottom: 100%;
  height: 0; }

.guide-placeholder {
  background-color: #f1f1f1;
  width: 95%;
  height: 95%;
  position: absolute;
  top: 2.5%;
  left: 2.5%; }

.guide-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .guide-images img.guide-overlay {
    position: absolute;
    z-index: 1; }

#gc-photos {
  width: 100%;
  height: 100%;
  padding: 2.5%; }
  #gc-photos img.sub {
    display: none;
    position: relative;
    top: 0;
    left: 0; }

.app-icon-box {
  background-color: #111;
  border-radius: 1.25rem;
  width: 80px;
  height: 80px; }

svg.app-icon {
  width: 68%;
  height: 68%;
  margin: auto; }

.header-logo {
  width: 64px;
  height: 64px; }

.text-link {
  font-weight: 600;
  letter-spacing: .1rem;
  font-size: 14px;
  color: #aaa;
  text-transform: uppercase;
  border-bottom: 2px solid #aaa;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s;
  padding-top: 8px; }
  .text-link:hover {
    color: #666;
    border-bottom-color: #666; }

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 52em; }
  @media (min-width: 52em) {
    .hero-container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly; } }
  .hero-container .visual {
    max-width: 240px; }
  .hero-container .title {
    max-width: 520px;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center; }
    .hero-container .title img {
      max-width: 400px; }
    .hero-container .title p {
      text-align: center; }
    @media (min-width: 52em) {
      .hero-container .title {
        -webkit-box-align: start;
            -ms-flex-align: start;
                    -ms-grid-row-align: flex-start;
                align-items: flex-start; }
        .hero-container .title p {
          text-align: left; } }

.nav a {
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s; }
  .nav a:hover {
    color: #aaa; }

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 35em) {
    .footer-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .footer-nav a {
    padding-top: 8px;
    padding-bottom: 8px; }
  @media (min-width: 35em) {
    .footer-nav {
      padding: 16px; } }

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.prose p {
  font-size: 16px;
  margin-bottom: 32px;
  width: 100%; }
  @media (min-width: 35em) {
    .prose p {
      font-size: 20px; } }

.link {
  text-decoration: none; }
  .link:hover {
    text-decoration: underline; }

.link-border {
  border-bottom: 1px solid;
  border-color: #aaa;
  padding-bottom: 4px;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s; }
  .link-border:hover {
    border-color: #111; }

.link-profile {
  text-decoration: underline;
  -webkit-text-decoration-color: #111;
          text-decoration-color: #111; }
  .link-profile:hover {
    color: #666;
    -webkit-text-decoration-color: #aaa;
            text-decoration-color: #aaa; }

.link-caption {
  border-bottom: 1px solid;
  border-color: inherit;
  padding-bottom: 4px;
  -webkit-transition: ease-in-out .1s;
  transition: ease-in-out .1s; }
  .link-caption:hover {
    color: #111;
    border-color: #111; }

.link-primary {
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s; }
  .link-primary:hover, .link-primary:active {
    text-decoration: none;
    border-bottom-color: #aaa; }

.active {
  text-decoration: none;
  border-bottom-color: #aaa; }

.link-image img {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
.link-image img:hover {
  opacity: 0.8; }

.dark-mode {
  background-color: #111;
  color: #fff; }

/* Type utilities */
.f-head, .f-subh, .f-head-md, .f-subh-md, .f-head-lg, .f-subh-lg, .f1, .f1-md, .f1-lg, .f2, .f2-md, .f2-lg {
  line-height: 1.2;
  word-wrap: break-word;
  margin-left: -0.05em;
  letter-spacing: -1px; }

.font-header {
  font-family: "Merriweather", serif; }

.font-body {
  font-family: "Graphik", "Helvetica Neue", Arial, sans-serif; }

.f-head {
  font-size: 6rem; }

.f-subh {
  font-size: 5rem; }

.f1 {
  font-size: 4rem; }

.f2 {
  font-size: 3rem; }

.f3 {
  font-size: 2rem; }

.f4 {
  font-size: 1.5rem; }

.f5 {
  font-size: 1.25rem; }

.f6 {
  font-size: 1rem; }

.f7 {
  font-size: 0.75rem; }

@media (min-width: 35em) {
  .f-head-md {
    font-size: 6rem; }

  .f-subh-md {
    font-size: 5rem; }

  .f1-md {
    font-size: 4rem; }

  .f2-md {
    font-size: 3rem; }

  .f3-md {
    font-size: 2rem; }

  .f4-md {
    font-size: 1.5rem; }

  .f5-md {
    font-size: 1.25rem; }

  .f6-md {
    font-size: 1rem; }

  .f7-md {
    font-size: 0.75rem; } }
@media (min-width: 52em) {
  .f-head-lg {
    font-size: 6rem; }

  .f-subh-lg {
    font-size: 5rem; }

  .f1-lg {
    font-size: 4rem; }

  .f2-lg {
    font-size: 3rem; }

  .f3-lg {
    font-size: 2rem; }

  .f4-lg {
    font-size: 1.5rem; }

  .f5-lg {
    font-size: 1.25rem; }

  .f6-lg {
    font-size: 1rem; }

  .f7-lg {
    font-size: 0.75rem; } }
.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.norm {
  font-weight: normal; }

.bold {
  font-weight: 600; }

.italic {
  font-style: italic; }

.uppercase {
  text-transform: uppercase; }

.ls-tight {
  letter-spacing: -1px; }

.ls-wide {
  letter-spacing: 0.1em; }

.lh-10 {
  line-height: 1.0; }

.lh-12 {
  line-height: 1.2; }

.lh-15 {
  line-height: 1.5; }

.lh-18 {
  line-height: 1.8; }

.lh-20 {
  line-height: 2.0; }

@media (min-width: 35em) {
  .lh-10-md {
    line-height: 1.0; }

  .lh-12-md {
    line-height: 1.2; }

  .lh-15-md {
    line-height: 1.5; }

  .lh-18-md {
    line-height: 1.8; }

  .lh-20-md {
    line-height: 2.0; } }
.underline {
  text-decoration: underline; }
  .underline:hover {
    -webkit-text-decoration-color: #666;
            text-decoration-color: #666; }

.no-underline {
  text-decoration: none !important; }
  .no-underline:hover {
    text-decoration: none !important; }

/* Color */
.white {
  color: #fff; }

.grey-light {
  color: #f1f1f1; }

.grey-mid {
  color: #aaa; }

.grey-dark {
  color: #666; }

.black {
  color: #111; }

.fill-white {
  fill: #fff; }

.fill-black {
  fill: #111; }

.list-reset {
  list-style: none;
  padding-left: 0; }

.box-shadow {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.25); }

/* Border utilities */
.border-radius {
  border-radius: 2px; }

.border-radius-2 {
  border-radius: 4px; }

.border-top {
  border-top: 1px solid #666; }

.border-bottom {
  border-bottom: 1px solid #f1f1f1; }

/* Theme color utilities */
.header-background {
  background-color: #111; }

.footer-background {
  background-color: #111; }

.light-grey-background {
  background-color: #f1f1f1; }

/* Layout utilities */
.container-s {
  max-width: 40em; }

.container-m {
  max-width: 52em; }

.container-l {
  max-width: 64em; }

.col-1 {
  width: 8.3333333333%; }

.col-2 {
  width: 16.6666666667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.3333333333%; }

.col-5 {
  width: 41.6666666667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.3333333333%; }

.col-8 {
  width: 66.6666666667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.3333333333%; }

.col-11 {
  width: 91.6666666667%; }

.col-12 {
  width: 100%; }

@media (max-width: 35em) {
  .sm-width-full {
    width: 100% !important; } }
@media (max-width: 52em) {
  .md-width-full {
    width: 100% !important; } }
.block {
  display: block !important; }

.inline-block {
  display: inline-block !important; }

.inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important; }

.table {
  display: table !important; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.align-middle {
  vertical-align: middle; }

/* Minimum Widths */
.mw-8 {
  min-width: 8rem; }

.mw-10 {
  min-width: 10rem; }

.mw-12 {
  min-width: 12rem; }

/* Padding */
.px-0 {
  padding-left: 0;
  padding-right: 0; }

.py-0 {
  padding-top: 0;
  padding-bottom: 0; }

.px-1 {
  padding-left: 8px;
  padding-right: 8px; }

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px; }

.px-2 {
  padding-left: 16px;
  padding-right: 16px; }

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px; }

.px-3 {
  padding-left: 32px;
  padding-right: 32px; }

.py-3 {
  padding-top: 32px;
  padding-bottom: 32px; }

.px-4 {
  padding-left: 64px;
  padding-right: 64px; }

.py-4 {
  padding-top: 64px;
  padding-bottom: 64px; }

.px-5 {
  padding-left: 128px;
  padding-right: 128px; }

.py-5 {
  padding-top: 128px;
  padding-bottom: 128px; }

.pt-1 {
  padding-top: 8px; }

.pb-1 {
  padding-bottom: 8px; }

.pt-2 {
  padding-top: 16px; }

.pb-2 {
  padding-bottom: 16px; }

.pt-3 {
  padding-top: 32px; }

.pb-3 {
  padding-bottom: 32px; }

.pt-4 {
  padding-top: 64px; }

.pb-4 {
  padding-bottom: 64px; }

.pt-5 {
  padding-top: 128px; }

.pb-5 {
  padding-bottom: 128px; }

@media (min-width: 35em) {
  .px-md-0 {
    padding-left: 0;
    padding-right: 0; }

  .py-md-0 {
    padding-top: 0;
    padding-bottom: 0; }

  .px-md-1 {
    padding-left: 8px;
    padding-right: 8px; }

  .py-md-1 {
    padding-top: 8px;
    padding-bottom: 8px; }

  .px-md-2 {
    padding-left: 16px;
    padding-right: 16px; }

  .py-md-2 {
    padding-top: 16px;
    padding-bottom: 16px; }

  .px-md-3 {
    padding-left: 32px;
    padding-right: 32px; }

  .py-md-3 {
    padding-top: 32px;
    padding-bottom: 32px; }

  .px-md-4 {
    padding-left: 64px;
    padding-right: 64px; }

  .py-md-4 {
    padding-top: 64px;
    padding-bottom: 64px; }

  .px-md-5 {
    padding-left: 64px;
    padding-right: 64px; }

  .py-md-5 {
    padding-top: 64px;
    padding-bottom: 64px; } }
@media (min-width: 52em) {
  .px-lg-0 {
    padding-left: 0;
    padding-right: 0; }

  .py-lg-0 {
    padding-top: 0;
    padding-bottom: 0; }

  .px-lg-1 {
    padding-left: 8px;
    padding-right: 8px; }

  .py-lg-1 {
    padding-top: 8px;
    padding-bottom: 8px; }

  .px-lg-2 {
    padding-left: 16px;
    padding-right: 16px; }

  .py-lg-2 {
    padding-top: 16px;
    padding-bottom: 16px; }

  .px-lg-3 {
    padding-left: 32px;
    padding-right: 32px; }

  .py-lg-3 {
    padding-top: 32px;
    padding-bottom: 32px; }

  .px-lg-4 {
    padding-left: 64px;
    padding-right: 64px; }

  .py-lg-4 {
    padding-top: 64px;
    padding-bottom: 64px; }

  .px-lg-5 {
    padding-left: 128px;
    padding-right: 128px; }

  .py-lg-5 {
    padding-top: 128px;
    padding-bottom: 128px; } }
/* Margin */
.my-auto {
  margin-top: auto;
  margin-bottom: auto; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.mt-0 {
  margin-top: 0; }

.mr-0 {
  margin-right: 0; }

.mb-0 {
  margin-bottom: 0; }

.ml-0 {
  margin-left: 0; }

.mt-1 {
  margin-top: 8px; }

.mr-1 {
  margin-right: 8px; }

.mb-1 {
  margin-bottom: 8px; }

.ml-1 {
  margin-left: 8px; }

.mt-2 {
  margin-top: 16px; }

.mr-2 {
  margin-right: 16px; }

.mb-2 {
  margin-bottom: 16px; }

.ml-2 {
  margin-left: 16px; }

.mt-3 {
  margin-top: 32px; }

.mr-3 {
  margin-right: 32px; }

.mb-3 {
  margin-bottom: 32px; }

.ml-3 {
  margin-left: 32px; }

.mt-4 {
  margin-top: 64px; }

.mr-4 {
  margin-right: 64px; }

.mb-4 {
  margin-bottom: 64px; }

.ml-4 {
  margin-left: 64px; }

.mt-5 {
  margin-top: 128px; }

.mr-5 {
  margin-right: 128px; }

.mb-5 {
  margin-bottom: 128px; }

.ml-5 {
  margin-left: 128px; }

@media (min-width: 35em) {
  .my-md-auto {
    margin-top: auto;
    margin-bottom: auto; }

  .mx-md-auto {
    margin-left: auto;
    margin-right: auto; }

  .mt-md-0 {
    margin-top: 0; }

  .mr-md-0 {
    margin-right: 0; }

  .mb-md-0 {
    margin-bottom: 0; }

  .ml-md-0 {
    margin-left: 0; }

  .mt-md-1 {
    margin-top: 8px; }

  .mr-md-1 {
    margin-right: 8px; }

  .mb-md-1 {
    margin-bottom: 8px; }

  .ml-md-1 {
    margin-left: 8px; }

  .mt-md-2 {
    margin-top: 16px; }

  .mr-md-2 {
    margin-right: 16px; }

  .mb-md-2 {
    margin-bottom: 16px; }

  .ml-md-2 {
    margin-left: 16px; }

  .mt-md-3 {
    margin-top: 32px; }

  .mr-md-3 {
    margin-right: 32px; }

  .mb-md-3 {
    margin-bottom: 32px; }

  .ml-md-3 {
    margin-left: 32px; }

  .mt-md-4 {
    margin-top: 64px; }

  .mr-md-4 {
    margin-right: 64px; }

  .mb-md-4 {
    margin-bottom: 64px; }

  .ml-md-4 {
    margin-left: 64px; }

  .mt-md-5 {
    margin-top: 128px; }

  .mr-md-5 {
    margin-right: 128px; }

  .mb-md-5 {
    margin-bottom: 128px; }

  .ml-md-5 {
    margin-left: 128px; } }
@media (min-width: 52em) {
  .my-lg-auto {
    margin-top: auto;
    margin-bottom: auto; }

  .mx-lg-auto {
    margin-left: auto;
    margin-right: auto; }

  .mt-lg-0 {
    margin-top: 0; }

  .mr-lg-0 {
    margin-right: 0; }

  .mb-lg-0 {
    margin-bottom: 0; }

  .ml-lg-0 {
    margin-left: 0; }

  .mt-lg-1 {
    margin-top: 8px; }

  .mr-lg-1 {
    margin-right: 8px; }

  .mb-lg-1 {
    margin-bottom: 8px; }

  .ml-lg-1 {
    margin-left: 8px; }

  .mt-lg-2 {
    margin-top: 16px; }

  .mr-lg-2 {
    margin-right: 16px; }

  .mb-lg-2 {
    margin-bottom: 16px; }

  .ml-lg-2 {
    margin-left: 16px; }

  .mt-lg-3 {
    margin-top: 32px; }

  .mr-lg-3 {
    margin-right: 32px; }

  .mb-lg-3 {
    margin-bottom: 32px; }

  .ml-lg-3 {
    margin-left: 32px; }

  .mt-lg-4 {
    margin-top: 64px; }

  .mr-lg-4 {
    margin-right: 64px; }

  .mb-lg-4 {
    margin-bottom: 64px; }

  .ml-lg-4 {
    margin-left: 64px; }

  .mt-lg-5 {
    margin-top: 128px; }

  .mr-lg-5 {
    margin-right: 128px; }

  .mb-lg-5 {
    margin-bottom: 128px; }

  .ml-lg-5 {
    margin-left: 128px; } }
.vh-100 {
  height: 100vh; }

.mvh-100 {
  min-height: 100vh; }

.mvh-75 {
  min-height: 75vh; }

.fixed {
  position: fixed; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.top-0 {
  top: 0; }

.bottom-0 {
  bottom: 0; }

.right-0 {
  right: 0; }

.left-0 {
  left: 0; }

.z-1 {
  z-index: -1; }

.z0 {
  z-index: 0; }

.z1 {
  z-index: 1; }

.z2 {
  z-index: 2; }

.z3 {
  z-index: 3; }

.z4 {
  z-index: 4; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

@media (min-width: 35em) {
  .flex-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .flex-row-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }

  .flex-column-md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .flex-wrap-md {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
@media (min-width: 52em) {
  .flex-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .flex-row-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }

  .flex-column-lg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .flex-wrap-lg {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
.items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start; }

.items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
              -ms-grid-row-align: flex-end;
          align-items: flex-end; }

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }

.items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
              -ms-grid-row-align: baseline;
          align-items: baseline; }

.items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
              -ms-grid-row-align: stretch;
          align-items: stretch; }

.self-start {
  -ms-flex-item-align: start;
      align-self: flex-start; }

.self-end {
  -ms-flex-item-align: end;
      align-self: flex-end; }

.self-center {
  -ms-flex-item-align: center;
      align-self: center; }

.self-baseline {
  -ms-flex-item-align: baseline;
      align-self: baseline; }

.self-stretch {
  -ms-flex-item-align: stretch;
      align-self: stretch; }

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.justify-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }

.content-start {
  -ms-flex-line-pack: start;
      align-content: flex-start; }

.content-end {
  -ms-flex-line-pack: end;
      align-content: flex-end; }

.content-center {
  -ms-flex-line-pack: center;
      align-content: center; }

.content-between {
  -ms-flex-line-pack: justify;
      align-content: space-between; }

.content-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around; }

.content-stretch {
  -ms-flex-line-pack: stretch;
      align-content: stretch; }

.flex-grow-0 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }

.flex-grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.flex-grow-2 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2; }

/* 1. Fix for Chrome 44 bug. https://code.google.com/p/chromium/issues/detail?id=506893 */
.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
  /* 1 */
  min-height: 0;
  /* 1 */ }

.flex-none {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none; }

.order-0 {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0; }

.order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.order-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3; }

.order-last {
  -webkit-box-ordinal-group: 100000;
      -ms-flex-order: 99999;
          order: 99999; }

#flexmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px; }

/* General Menu Styling */
#flexmenu li,
#flexmenu li a {
  line-height: 1;
  display: inline-block;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s; }

#flexmenu ul li a {
  padding: 16px;
  font-weight: 600; }

@media screen and (max-width: 52em) {
  /* Hamburger */
  .button {
    cursor: pointer;
    padding: 8px; }

  .button:after {
    display: block;
    height: 6px;
    width: 24px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    content: ''; }

  .button:before {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    display: block;
    height: 2px;
    width: 24px;
    background: #fff;
    margin-bottom: 6px;
    content: ''; }

  /* Turn it into an X when open */
  .button.menu-opened {
    padding: 16px 8px; }

  .button.menu-opened:after {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border: 0;
    height: 2px;
    width: 23px;
    background: #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

  .button.menu-opened:before {
    width: 23px;
    margin-bottom: -1px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

  #main-menu {
    width: 100%;
    margin-top: 16px; }

  /* reset horizontal styles */
  #flexmenu ul {
    display: none; }

  #flexmenu ul li,
  #flexmenu ul li a {
    width: 100%; }

  #flexmenu ul li a {
    padding: 16px 8px; } }
.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
  border-radius: 4px; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

/* draggable */
.flickity-enabled.is-draggable {
  /* tap-highlight-color: transparent; */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: rgba(255, 255, 255, 0.5);
  padding: 0;
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.flickity-prev-next-button:hover {
  background: white; }

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F; }

.flickity-prev-next-button:active {
  opacity: 0.6; }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button:disabled {
  opacity: 0.3;
  cursor: auto; }

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

.flickity-prev-next-button .arrow {
  fill: #333; }

/* ---- page dots ---- */
.main-carousel .flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -30px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 40px;
  height: 4px;
  margin: 0 8px;
  background: #333;
  border-radius: 4px;
  opacity: 0.25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  opacity: 1; }

/* ---- My Custom Flickity CSS ---- */
.main-carousel .carousel-cell {
  Width: 100%; }

.main-carousel img {
  display: block; }

.wufoo {
  background-color: #f1f1f1;
  font-family: 'Graphik', sans-serif; }

.wufoo label.desc {
  margin: 0px;
  font-size: 1.8rem;
  font-size: 18px; }

.wufoo legend.desc {
  margin: 10px 0px 4px 0px;
  font-weight: normal; }

.wufoo input.text {
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 4px;
  font-size: 1.4em; }

.wufoo textarea.textarea {
  border-radius: 4px;
  font-size: 1.4em;
  padding: 12px; }

.wufoo .instruct {
  line-height: 1.2;
  margin-bottom: 12px; }

.wufoo li {
  width: 99%;
  max-width: 99%;
  margin-bottom: 0.5rem; }

form ul {
  max-width: 100%; }

form li {
  padding: 0; }

form li.buttons {
  padding: 10px 0;
  margin-bottom: 0; }

form li.buttons input {
  margin-left: 2px; }

.safari .wufoo select.select {
  margin-bottom: 8px;
  padding: 6px; }

.wufoo input.btTxt {
  -webkit-appearance: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  padding: 4px 24px;
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; }

.wufoo input.btTxt:hover {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25); }

.wufoo .section h3 {
  margin: 8px 8px 0px 8px !important; }

li.notStacked div span {
  padding-bottom: 4px; }
