---
layout: default
---

<section class="light-grey-background py-5">
  <div class="container-s flex flex-column items-center px-3 mx-auto">
    <div class="mb-3 inline-flex mx-auto app-icon-box">
      {% include logo.html class="app-icon" %}
    </div>
    {% include text-logo.html class="fill-black col-8 sm-width-full" %}
    <p class="f3 mb-3 ls-tight lh-12 text-center">iOS App</p>
    {% include app-store-button.html class="" %}
  </div>
</section>

<img class="arrow" src="{{ site.baseurl }}/assets/logo/Arrow.svg" alt="arrow">

<section class="py-5">
  <div class="container-s flex flex-column items-center px-3 mx-auto">
    <p class="f3 ls-tight lh-20 lh-18-md text-center">A purpose-built camera app for your iPhone that helps to line up your @geometryclub photos, in real time.</p>
  </div>
</section>

