---
layout: default
---

<article class="px-3 py-3" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="container-s mx-auto mt-4 mb-4">
    <p class="f7 f6-md text-center uppercase bold"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date_to_long_string: "ordinal" }}</time></p>
    <h1 class="f3 f2-md text-center ls-tight lh-12" itemprop="name headline">{{ page.title }}</h1>
  </header>
  <div class="container-m mx-auto">
    {% if page.hero-image-src %}
      {% cloudinary {{ page.hero-image-src }} alt="{{ page.hero-image-alt }}" %}
    {% endif %}
    {% if page.credits %}
      <p class="right mt-1 f7 grey-dark">Image credit(s): 
        {% for credit in page.credits %}
          {% if forloop.last == true %}
            <a href="{{ credit.link }}" class="link-border">{{ credit.anchor }}</a>
          {% else %}
            <a href="{{ credit.link }}" class="link-border">{{ credit.anchor }}</a> / 
          {% endif %}
        {% endfor %}
      </p>
    {% endif %}
  </div>

  <div class="prose" itemprop="articleBody">
      {{ content }}
  </div>

</article>

<div class="container-m mx-auto px-3 py-3">
  {% include previous-next.html %}
</div>
