---
layout: default
---

<section class="dark-mode py-4 pb-5">
  <div class="container-m px-3 mx-auto">
    <h1 class="font-body f1 mb-2">Prints</h1>
    <div>
      <a class="link-image" href="/prints/sheffield/">
        <img class="mb-1 border-radius-2" src="/assets/images/prints/geometry-club-sheffield-print-framed.jpg" />
        <h2 class="font-body f5 f5-md lh-12">Sheffield</h2>
        <p class="grey-dark f5-md">70cm x 50cm</p>
      </a>

    </div>
  </div>
</section>



<!-- slideshow script -->
<script src="{{ site.baseurl }}/assets/js/flickity.pkgd.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
      $('.main-carousel').flickity();
  });
</script>