---
layout: default
---

<section class="dark-mode py-4">
  <div class="container-m px-3 mx-auto">

    <!--Carousel Start-->
    <p class="mb-1 f7 f6-md text-right grey-dark">Swipe to view more images</p>
    <div class="mx-auto sm-width-full">
      <div class="main-carousel print-carousel border-radius-2 box-shadow" data-flickity='{ "autoPlay": true, "wrapAround": true, "imagesLoaded": true, "percentPosition": false, "prevNextButtons": false}'>
        {% for images in page.slide-one %}
          {% include image-slides.html %}
        {% endfor %}
      </div>
    </div>
    <!--Carousel End-->
    
    <div class="prints-page-styles mb-4 mb-md-5">

      <!--Title & Intro Start-->
      <div class="pt-5">
        <h1 class="f2 f1-md mb-2">Sheffield</h1>
        <p class="mb-3 f5-md">I'm excited to introduce the first ever Geometry Club print, and naturally I wanted to honour the city where it all started. I've taken hundreds of photos and spent countless hours selecting, editing, and composing this final collection. Hope you love it as much as I do!</p>
        <p class="mb-3 f5-md">The print includes many of the classics; Crucible Theatre, The Arts Tower, Cheese Grater, Diamond Building etc.</p>
      </div>
      <!--Title & Intro End-->

      <!--Details Start-->
      <div class="">
        <h2 class="f4 f3-md">Details</h2>
        <div class="details-box border-radius-2">
          <div class="first-edition">
            <img src="/assets/images/prints/first-edition.svg" />
          </div>
          <h3>First Edition</h3>
          <p>Limited run of 25 prints</p>
          <h3>Print Size</h3>
          <p>70cm x 50cm</p>
          <h3>Paper Type</h3>
          <p>Fuji Professional Velvet (matt)</p>
          <h3>Locale</h3>
          <p>UK delivery only</p>
        </div>
      </div>
      <!--Details End-->

      <!--Quality Start-->
      <div class="">
        <h2 class="f4 f3-md">Quality</h2>
        <p class="f5-md">I've opted to print on velvet professional coated paper which has a zero-reflective top layer and a soft, matt finish. (Looks and feels beaut!)</p>
      </div>
      <!--Quality End-->

      <!--Price Start-->
      <div class="">
        <h2 class="f4 f3-md">Price</h2>
        <div class="details-box print-price border-radius-2 flex-md flex-row-md">
          <div class="flex-grow-1 mb-2 mb-md-0">
            <h3>Print + Packaging</h3>
            <p class="price"><strike class="grey-dark">£120</strike> £80*</p>
          </div>
          <div class="flex-grow-1">
            <h3>Delivery (UK only)</h3>
            <p class="price">£6</p>
          </div>
        </div>
        <p class="f7 f6-md note"><b>*</b> This is an introductory price to thank you for supporting the project.</p>
      </div>
      <!--Price End-->

      <!--How To Order Start-->
      <div class="">
        <h2 class="f4 f3-md">How To Order</h2>
        <p class="mb-2 f5-md">As this is just for a limited run of prints, I'm going to take orders via direct message and a bank transfer. Here's how to get in touch:</p>
        <p class="f5-md">Instagram: <a class="link-body" href="https://instagram.com/geometryclub">@geometryclub</a></p>
        <p class="f5-md">Twitter: <a href="https://twitter.com/geometryclub">@geometryclub</a></p>
        <p class="f5-md">Email: <a href="mailto:hello@geometryclub?subject=Sheffield Print">hello@geometryclub.org</a></p>
      </div>
      <!--How To Order End-->

      <!--Close-up Start-->
      <div class="">
        <h2 class="f4 f3-md">Close-up</h2>
        <div class="mid-grey-background border-radius-2 px-md-3 py-md-3 px-lg-4 py-lg-4">
          <img class="card-shadow box-shadow" src="/assets/images/prints/geometry-club-sheffield-print-close-up.jpg" alt="" />
        </div>
      </div>
      <!--Close-up End-->

       <!--Framing Start-->
       <div class="">
        <h2 class="f4 f3-md">Framing</h2>
        <p class="mb-2 f5-md">I've sourced a few notable suppliers that provide frames for this print size:</p>
        <p class="f5-md"><a href="https://www.ikea.com/gb/en/p/lomviken-frame-black-70286773/">Lomviken by IKEA (£17)</a></p>
        <p class="f5-md"><a href="https://desenio.co.uk/en/black-picture-frame-50x70">Desenio (£27)</a></p>
        <p class="f5-md"><a href="https://www.habitat.co.uk/aluminus-50-x-70cm-20-x-28-black-metal-picture-frame-26981">Habitat (£35)</a></p>
      </div>
       <!--Framing End-->
    </div>

    <!--Thanks Start-->
    <!-- <section>
      <div class="details-box border-radius-2 f7">
        <p class="grey-dark thanks"><b>Special Thanks</b><br />
          Maria Nightingale<br />
          Dave Cavill<br />
          Liam Rimmington<br />
          Dan Cook<br />
          Glenn Brook
        </p>
      </div>
    </section> -->
    <!--Thanks End-->
  </div>
</section>



<!-- slideshow script -->
<script src="{{ site.baseurl }}/assets/js/flickity.pkgd.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
      $('.main-carousel').flickity();
  });
</script>