---
layout: default
---

<section class="light-grey-background py-5">
  <div class="container-s flex flex-column items-center px-3 mx-auto">
    <div class="mb-3 inline-flex mx-auto app-icon-box">
      {% include logo.html class="app-icon" %}
    </div>
    {% include text-logo.html class="fill-black col-8 sm-width-full" %}
    <p class="f3 ls-tight lh-12 text-center">iOS App Support</p>
  </div>
</section>

<img class="arrow" src="{{ site.baseurl }}/assets/logo/Arrow.svg" alt="arrow">

<section class="pt-4 pb-5">
  <div class="container-s flex flex-column items-center px-3 mx-auto">
    <p class="f4 f3-md ls-tight lh-20 lh-18-md text-center">If you’re experiencing any issues, wish to provide feedback, or have any questions — please email us <b>app@geometryclub.org</b></p>
  </div>
</section>